body {
	font-family: 'Quicksand', sans-serif;
	background-color: yellow;
	color: black;
	font-size: 25px;
}

.buttons {
	width: 600px;
}

#timestamp {
	display: flex;
	width: 300px;
}

#timestamp span {
	justify-content: flex-start;
}

.wrapper {
	display: flex;
}

#generate-male,
#generate-female {
	justify-content: flex-start;
}

.logo {
	justify-content: flex-end;
	border: 4px solid black;
	background-color: black;
	color: white;
}

#generate-male,
#generate-female {
	width: 200px;
	height: auto;
	letter-spacing: 2px;
	border: 4px solid black;
	color: black;
	background-color: white;

}

section.app {
	border: 7px solid black;
	width: 200px;
	height: 200px;
	overflow: auto;
}