body {
	font-family: 'Quicksand', sans-serif;
	background-color: yellow;
	background-image: url(pattern.png);
	background-blend-mode: difference;
	font-size: 20px;
	}

main {
	color: black;
}

#timestamp {
	font-weight: 700;
}

#generate-male,
#generate-female {
	border: 0.4em solid black;
	background-color: white;
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.logo {
	border: 0.4em solid black;
	background-color: black;
	color: white;
	text-transform: small-caps;
	font-weight: 700;
	margin-left: 26%;
	letter-spacing: 15px;
	text-align: center;
}

.app {
	margin-left: 26%;
	border: 0.4em solid black;
	background-color: white;
}

.author {
	position: absolute;
	
}

.author a {
	text-decoration: none;
	color: black;
}

@supports (writing-mode:tb-rl) {
	.author {
		writing-mode:tb-rl;
}
}

@media only screen and (min-width : 320px) {
	main {
		width: 85%;
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
		font-size: 3em;
	}	
	#timestamp {
		font-size: 0.4em;
	}
	.footer {
		position: relative;
	}
	.author {
		position: absolute;
		bottom: 27%;
		left: 102%;
	}

	#generate-male,
	#generate-female {
		width: 65%;
		min-height: 3em;
		font-size: 1.3em;
	}

	.app {
		min-height: 9em;
		text-align: right;
		padding: 15px;
	}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	body {
    		font-size: 50%;
    	}
    	
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }










